.poster img{
    width: 100%;
}

.footer{
    padding-left: 2vmin;
    padding-right: 2vmin;
}

.description{
    padding-left: 2vmin;
    padding-right: 2vmin;
}

.title{
    padding-left: 2vmin;
    padding-right: 2vmin;
}