<mat-toolbar class="nav">
  <h1>NewZilla</h1>
  <button style="margin-left:2vmin;" mat-button >Home</button>
  <button mat-button [matMenuTriggerFor]="filter">Filter</button>

<mat-menu #filter="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="categories">Categories</button>
  <button mat-menu-item [matMenuTriggerFor]="language">Language</button>
  <button mat-menu-item [matMenuTriggerFor]="country">Country</button>
</mat-menu>

<mat-menu #categories="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
  <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
  <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
  <button mat-menu-item>Birds</button>
  <button mat-menu-item>Mammals</button>
</mat-menu>

<mat-menu #language="matMenu">
  <button mat-menu-item>Insects</button>
  <button mat-menu-item>Molluscs</button>
  <button mat-menu-item>Crustaceans</button>
  <button mat-menu-item>Corals</button>
  <button mat-menu-item>Arachnids</button>
  <button mat-menu-item>Velvet worms</button>
  <button mat-menu-item>Horseshoe crabs</button>
</mat-menu>

<mat-menu #country="matMenu">
  <button mat-menu-item>Baikal oilfish</button>
  <button mat-menu-item>Bala shark</button>
  <button mat-menu-item>Ballan wrasse</button>
  <button mat-menu-item>Bamboo shark</button>
  <button mat-menu-item>Banded killifish</button>
</mat-menu>
</mat-toolbar>
<app-news-sources class="source"></app-news-sources>
<router-outlet></router-outlet>
<ngx-ui-loader></ngx-ui-loader>
