.card{
    margin: 2vmin;
    height: 25vh;
    cursor: pointer;
    outline: none;
    flex-grow: 1;
}

.card:hover{
    transform: scale(1.09);
    transition: 500ms;
}

.card h6{
    color: rgb(163, 163, 163);
}

i a{
    font-size: 14px;
    margin-left: 2vmin;
    text-decoration: none;
    color: rgb(92, 92, 92);
}

.link-active{
    background: rgb(87, 87, 87);
    color: white;
}

.link-active i a{
    color: rgb(255, 255, 255);
}

.link-active i{
    color: rgb(255, 255, 255);
}

